
    <!-- Sidebar + Content Wrapper -->
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="d-flex flex-column flex-shrink-0 bg-light p-3 border-end collapse show" id="sidebar" style="width: 250px; height: 100vh;">
  
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item"><a href="#" class="nav-link active"><i class="bi bi-house-door"></i> Home</a></li>
            <li><a href="#" class="nav-link text-dark"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
            <li><a href="#" class="nav-link text-dark"><i class="bi bi-person-badge"></i> Manage Staff</a></li>
            <li><a href="#" class="nav-link text-dark"><i class="bi bi-person"></i> Manage Member</a></li>
            <li><a href="#" class="nav-link text-dark"><i class="bi bi-house"></i> Manage Village</a></li>
            <li><a href="#" class="nav-link text-dark"><i class="bi bi-shield-lock"></i> Manage Guard</a></li>
          </ul>
        </div>
  <div>