{% extends "portal/base.html" %}

{% block content %}
<div class="w-full px-6 py-8 bg-gray-100">
   <!-- Button for Adding New Member-->
    <a href="{% url 'portal:add_member' %}" class="absolute top-35 right-0 mt-4 mr-6 bg-green-500 text-white px-6 py-3 rounded-lg shadow-md hover:bg-green-600 transition duration-200 ease-in-out">
        Add New Member
    </a>
    <!-- Search Bar -->
    <form method="get" action="{% url 'portal:member_list' %}" class="mb-6 flex items-center gap-4">
        <input
            type="text"
            name="q"
            placeholder="Search by Member name ..."
            value="{{ query }}"
            class="w-full md:w-1/3 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-400"
        />
        <button
            type="submit"
            class="px-6 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600 transition"
        >
            Search
        </button>
    </form>

<!-- Table for Model Data -->
<div class="w-full bg-white p-6 shadow-xl rounded-lg mt-12 overflow-x-auto">
    <table class="w-full border-collapse border border-gray-300">
        <thead class="bg-blue-500 text-gray-100">
            <tr>
                <th class="px-6 py-4 border-b text-left">NO</th>
                <th class="px-6 py-4 border-b text-left">First Name</th>
                <th class="px-6 py-4 border-b text-left">Last Name</th>
                <th class="px-6 py-4 border-b text-left">Gender</th>
                <th class="px-6 py-4 border-b text-left">I.D</th>
                <th class="px-6 py-4 border-b text-left">D.O.B</th>
                <th class="px-6 py-4 border-b text-left">Age</th>
                <th class="px-6 py-4 border-b text-left">Date Join</th>
                <th class="px-6 py-4 border-b text-left">Membership Period</th>
                <th class="px-6 py-4 border-b text-left">Status</th>
                <th class="px-6 py-4 border-b text-left">Actions</th>
            </tr>
        </thead>
        <tbody class="text-gray-600">
            {% for member in members %}
            <tr class="border-b hover:bg-gray-50 transition duration-200 ease-in-out">
                <td class="px-6 py-4 text-green-700">{{ forloop.counter }}</td>
                <td class="px-6 py-4">{{ member.first_name }}</td>
                <td class="px-6 py-4">{{ member.last_name }}</td>
                <td class="px-6 py-4">{{ member.gender }}</td>
                <td class="px-6 py-4">{{ member.identification_document }}</td>
                <td class="px-6 py-4">{{ member.date_of_birth }}</td>
                <td class="px-6 py-4">{{ member.age }}</td>
                <td class="px-6 py-4">{{ member.date_join }}</td>
                <td class="px-6 py-4">{{ member.membership_period }}</td>
                <td class="px-6 py-4">
                    {% if member.status == "deceased" %}
                        <span class="bg-red-500 text-white px-2 py-1 rounded-full text-xs">Deceased</span>
                    {% else %}
                        <span class="bg-green-500 text-white px-2 py-1 rounded-full text-xs">Alive</span>
                    {% endif %}
                </td>
                <td class="px-6 py-4 flex justify-center items-center">
                    <a href="{% url 'portal:member_detail' member.pk %}" class="text-green-500 hover:text-red-700  mr-4">                                                    
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                        </svg></a>
                    <a href="{% url 'portal:edit_member' member.id %}" class="text-blue-500 hover:text-blue-700 mr-4">                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg></a>
                    {% if request.user.user_type == 'admin' %}
                    <a href="{% url 'portal:delete_member' member.id %}" class="text-red-500 hover:text-red-700">                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                    </svg></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- Pagination -->
<div class="mt-4 flex justify-center">
    <nav class="inline-flex shadow-sm">
        {% if members.has_previous %}
            <a href="?page=1" class="px-4 py-2 border border-gray-300 bg-white text-gray-700 hover:bg-gray-100">&laquo; First</a>
            <a href="?page={{ members.previous_page_number }}" class="px-4 py-2 border border-gray-300 bg-white text-gray-700 hover:bg-gray-100">Previous</a>
        {% endif %}
        <span class="px-4 py-2 border border-gray-300 bg-gray-200 text-gray-700">Page {{ members.number }} of {{ members.paginator.num_pages }}</span>
        {% if members.has_next %}
            <a href="?page={{ members.next_page_number }}" class="px-4 py-2 border border-gray-300 bg-white text-gray-700 hover:bg-gray-100">Next</a>
            <a href="?page={{ members.paginator.num_pages }}" class="px-4 py-2 border border-gray-300 bg-white text-gray-700 hover:bg-gray-100">Last &raquo;</a>
        {% endif %}
    </nav>
</div>

</div>
</div>
{% endblock content %}
