{% comment %} {% extends "portal/base2.html" %} {% endcomment %}
{% load static %}
{% block content %}

<div class="row no-gutters">
  <!-- Hero Section - Hidden on small screens -->
  <div class="col-12 col-lg-6 d-none d-lg-flex align-items-center justify-content-center" style="background-color: #000080; height: 100vh;">
    <div class="text-center text-white">
      <!-- Logo -->
      {% comment %} <img src="{% static 'dashboard/logo-dmc.png' %}" alt="Logo" class="mb-4" style="max-width: 320px;"> {% endcomment %}
      
      <!-- Responsive heading -->
      <h1 class="display-4">Welcome to Our Portal</h1>
      <p class="lead mt-3">Your Environment Is <strong>Our Priority</strong></p>
    </div>
  </div>

  <!-- Login Form Section -->
  <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center" style="height: 100vh; background: #F8F8F8;">
    <div class="p-4">
      <div class="text-center mb-4">
        <h1 class="text-primary">Portal</h1>
        <p class="text-primary">Exclusive access for Anabeb Conservancy Wildlife Management System members</p>
      </div>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="mt-4 text-center">Not a member yet? <a href="#" class="text-primary">Apply to become a member</a></p>
    </div>
  </div>
</div>

{% endblock content %}
